[Unit]
Description=Nomad + Consul download/install task
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/local/bin/install-stack.sh
